.categoryList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 25px;
}

.category{
    padding: 10px;
    border-radius: 10px;
}

.food {
    background-color: rgb(119, 119, 167);
}

.style {
    background-color: rgb(160, 153, 153);
}

.culture {
    background-color: rgb(151, 73, 73);
}

.travel {
    background-color: rgb(148, 121, 125);
}

.coding {
    background-color: rgb(75, 71, 71);
}

.fashion {
    background-color: rgb(158, 96, 158);
}
